@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    }

body {
    background-color:white;
}

footer{
    background-color: green;
}

/*header*/

#name{
    float: left;
    font-size: 300%;       
    line-height: 75px;      
}

#tabs{
    font-size: 150%;
    letter-spacing: 5px;
    line-height: 75px;
}

#tabs li{
    float: right;
    list-style-type: none;
    margin-right: 35px;
}

#tabs a{
text-decoration: none;
}

#tabs a:hover{
    border-bottom: 2px solid black;    
}

#outer{
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#hero-image{
    height: 400px;
    width: 100%;
    background: url('../images/header.jpg') no-repeat center center;       
}

/* home body page */

.container-1 {
    display: flex;      
}

.container-2{
    display: flex;
    
}
.container-1 div, .container-2 div{
    border: solid 1px black;    
    flex: 1;
    margin: 1em;
    box-shadow: 0px 0px 10px 0px;
}

.box-1{
    width: 33%;
}

#Location{
    max-width: 300px; 
    max-height: 300px;
    background: url('../images/location.jpg') no-repeat;
}
.box-1-image{
    max-width: 500px; 
    max-height: 500px;   
}

.box-2-image{
    max-width: 300px; 
    max-height: 300px;   
}

.box-2{
    width: 25%;     
}

.fish-image{
    max-width: 400px; 
    max-height: 400px;
}

