*{
    margin: 0;
    padding: 0;
    border: none;
    }

body {
    background-color:white;
}

footer{
    background-color: green;
}

/*header*/

header, #name, #tabs li{
    height: 75px;
    background-color: green;
}

#name{
    float: left;
    font-size: 300%;       
    line-height: 75px;   
    color: white;   
}

#tabs{
    font-size: 150%;
    letter-spacing: 5px;
    line-height: 75px;    
}

#tabs li{
    float: right;
    list-style-type: none;
    margin-right: 35px;
    
}

#tabs a{
text-decoration: none;
color: white;
}

#tabs a:hover{
    border-bottom: 2px solid black;    
}


#hero-image{
    height: 400px;
    width: 100%;
    background: url('../images/header.jpg') no-repeat center center;       
}

/* home body page */

.container-1 {
    display: flex;     
    
}

.container-2{
    display: flex;   
}

.container-1 h3, .container-2 h3{
    text-align: center;
    font-size: 150%;
    letter-spacing: 3px;
    border-bottom: 5px solid black;
}
.container-1 div, .container-2 div{
    border: solid 1px black;    
    flex: 1;
    margin: 1em;
    box-shadow: 0px 0px 10px 0px;   
}

.box-1{
    width: 33%;
}

.box-1 > p{
    color: grey;
    border: 1px solid black;
    margin: 1em;
    text-align: center;
    letter-spacing: 2px;    
}

#Location{
    max-width: 300px; 
    max-height: 300px;
    background: url('../images/location.jpg') no-repeat;
}
.box-1-image{
    width: 400px; 
    height: 400px;
    object-fit:scale-down;    
    }    

.box-2-image{
    width: 400px; 
    height: 400px;
    object-fit:scale-down;
}

.box-2{
    width: 25%;     
}

.box-2 > p{
    color: grey;
    border: 1px solid black;
    margin: 1em;
    text-align: center;
    letter-spacing: 2px;
    }

.fish-image{
    max-width: 400px; 
    max-height: 400px;
}

/*Fish Tab*/
.container-fish-1{
    display: flex;
}

.box-fish {
    width: 33%;
}
.container-fish-1 div {
    border: solid 1px black;    
    flex: 1;
    margin: 1em;
    box-shadow: 0px 0px 10px 0px;   
}
.container-fish-2{
    display: flex;
}

.container-fish-2 div {
    border: solid 1px black;    
    flex: 1;
    margin: 1em;
    box-shadow: 0px 0px 10px 0px;   
}

.container-fish-3{
    display: flex;
}

.container-fish-3 div {
    border: solid 1px black;    
    flex: 1;
    margin: 1em;
    box-shadow: 0px 0px 10px 0px;   
}

/*footer*/

footer{
    height: 150px;
}

#social-links{
    text-align: center;    
}

#social-links > li{
    display: inline;     
}

#social-links  i{
    font-size: 200%;    
    color: white;
    padding-right: 7%;
    line-height: 100px;   
}

#Sign-up{
    float: left;
}

input {
    border: 2px solid black;
    padding-bottom: 2%;
}

#button{
    background-color: white;
    border: 2px solid black;
    color: black;    
    text-align: center;
    text-decoration: none;    
    padding: 10px 28px;
    font-size: 10px;    
    cursor: pointer;
}